html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-muted-foreground);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground);
}

a:hover {
  text-decoration: underline;
}
